html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: hsl(212, 45%, 89%);
}
img{
    max-width: 20.25em;
    height: 21.25em;
    border-radius: 10px;
}
h3{
    font-size: 1.8rem;
    letter-spacing: .77px;
}
p{
    font-size: .9375rem;
    color: hsl(220, 15%, 55%);
    letter-spacing: .77px;
    text-wrap: balance;
}
.container{
    max-width: 25em;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    padding: 1.5625em 0 6.25em 0;
    border-radius: 35px
}
.outfit-normal {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  p.outfit-bold{
    color: black;
    font-size: 1.85125rem;
  }